.Doc1
{
 
 background-color:lightblue;
 }
.Doc2
{
    background-color:lightblue;
    margin-top: 260px;
    padding-top: 70px;
    margin-left: 480px;
    margin-right: 480px;
    padding-bottom: 70px;
    border-radius: 25px;
   
}