#App3{
    background-color: #eeefff;
}

#App5{
    float: right;
    height: 800px;
    width: 600px;
    padding-right:25px ;
}
.App6
{
    float: left;
    height:50%;
    width :50%;
}
